In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/jstaf/gapminder/master/gapminder/gapminder.csv'
df = pd.read_csv(url)

In [3]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [5]:
df.isnull().sum()

country      0
continent    0
year         0
lifeExp      0
pop          0
gdpPercap    0
dtype: int64

In [6]:
df.isnull().sum().sum()

0

In [7]:
df['country'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
1699    False
1700    False
1701    False
1702    False
1703    False
Name: country, Length: 1704, dtype: bool

In [8]:
df['country'].isnull().sum()

0

In [9]:
df = df.rename({'country':'Country'}, axis = 1)
df.head()

       Country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [13]:
df = df.rename({'continent':'Continent',
                'pop' : 'Population',
                'year': 'Year'}, axis = 1)
df.head()

       Country Continent  Year  lifeExp  Population   gdpPercap
0  Afghanistan      Asia  1952   28.801     8425333  779.445314
1  Afghanistan      Asia  1957   30.332     9240934  820.853030
2  Afghanistan      Asia  1962   31.997    10267083  853.100710
3  Afghanistan      Asia  1967   34.020    11537966  836.197138
4  Afghanistan      Asia  1972   36.088    13079460  739.981106

In [15]:
#delete one column 
df = df.drop(columns = {'Continent'}, axis =1)
df.head()

       Country  Year  lifeExp  Population   gdpPercap
0  Afghanistan  1952   28.801     8425333  779.445314
1  Afghanistan  1957   30.332     9240934  820.853030
2  Afghanistan  1962   31.997    10267083  853.100710
3  Afghanistan  1967   34.020    11537966  836.197138
4  Afghanistan  1972   36.088    13079460  739.981106

In [20]:
df['lifeExp'] =  df['lifeExp'].astype(int)
df.dtypes

Country        object
Year            int64
lifeExp         int64
Population      int64
gdpPercap     float64
dtype: object

In [21]:
df.dtypes

Country        object
Year            int64
lifeExp         int64
Population      int64
gdpPercap     float64
dtype: object

In [22]:
df.head()

       Country  Year  lifeExp  Population   gdpPercap
0  Afghanistan  1952       28     8425333  779.445314
1  Afghanistan  1957       30     9240934  820.853030
2  Afghanistan  1962       31    10267083  853.100710
3  Afghanistan  1967       34    11537966  836.197138
4  Afghanistan  1972       36    13079460  739.981106

In [27]:
df= df.astype({'lifeExp':float,
              'Population':float})
df.dtypes

Country        object
Year            int64
lifeExp       float64
Population    float64
gdpPercap     float64
dtype: object

In [28]:
df.head()

       Country  Year  lifeExp  Population   gdpPercap
0  Afghanistan  1952     28.0   8425333.0  779.445314
1  Afghanistan  1957     30.0   9240934.0  820.853030
2  Afghanistan  1962     31.0  10267083.0  853.100710
3  Afghanistan  1967     34.0  11537966.0  836.197138
4  Afghanistan  1972     36.0  13079460.0  739.981106

In [30]:
df.Country.unique().size

142

In [31]:
df.Year.unique()

array([1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002,
       2007])

In [44]:
df['TotalGDP'] = df['Population'] * df['gdpPercap']
df.head()

       Country  Year  lifeExp  Population   gdpPercap      TotalGDP
0  Afghanistan  1952     28.0   8425333.0  779.445314  6.567086e+09
1  Afghanistan  1957     30.0   9240934.0  820.853030  7.585449e+09
2  Afghanistan  1962     31.0  10267083.0  853.100710  8.758856e+09
3  Afghanistan  1967     34.0  11537966.0  836.197138  9.648014e+09
4  Afghanistan  1972     36.0  13079460.0  739.981106  9.678553e+09

In [45]:
df['TotalGDP_inBil'] = df['TotalGDP']/(1000000000)
df.head()

,Country,Year,lifeExp,Population,gdpPercap,TotalGDP,TotalGDP_inBil
0,Afghanistan,1952,28.0,8425333.0,779.445314,6.567086e+09,6.567086
1,Afghanistan,1957,30.0,9240934.0,820.853030,7.585449e+09,7.585449
2,Afghanistan,1962,31.0,10267083.0,853.100710,8.758856e+09,8.758856
3,Afghanistan,1967,34.0,11537966.0,836.197138,9.648014e+09,9.648014
4,Afghanistan,1972,36.0,13079460.0,739.981106,9.678553e+09,9.678553

In [49]:
df['country_year'] = df['Country'].astype(str) + '_' + df['Year'].astype(str)
df.head()

,Country,Year,lifeExp,Population,gdpPercap,TotalGDP,TotalGDP_inBil,country_year
0,Afghanistan,1952,28.0,8425333.0,779.445314,6.567086e+09,6.567086,Afghanistan_1952
1,Afghanistan,1957,30.0,9240934.0,820.853030,7.585449e+09,7.585449,Afghanistan_1957
2,Afghanistan,1962,31.0,10267083.0,853.100710,8.758856e+09,8.758856,Afghanistan_1962
3,Afghanistan,1967,34.0,11537966.0,836.197138,9.648014e+09,9.648014,Afghanistan_1967
4,Afghanistan,1972,36.0,13079460.0,739.981106,9.678553e+09,9.678553,Afghanistan_1972

In [51]:
df['country_short'] = df['Country'].str[: 3]
df.head()

,Country,Year,lifeExp,Population,gdpPercap,TotalGDP,TotalGDP_inBil,country_year,country_short
0,Afghanistan,1952,28.0,8425333.0,779.445314,6.567086e+09,6.567086,Afghanistan_1952,Afg
1,Afghanistan,1957,30.0,9240934.0,820.853030,7.585449e+09,7.585449,Afghanistan_1957,Afg
2,Afghanistan,1962,31.0,10267083.0,853.100710,8.758856e+09,8.758856,Afghanistan_1962,Afg
3,Afghanistan,1967,34.0,11537966.0,836.197138,9.648014e+09,9.648014,Afghanistan_1967,Afg
4,Afghanistan,1972,36.0,13079460.0,739.981106,9.678553e+09,9.678553,Afghanistan_1972,Afg

In [52]:
df['GDPpercap'] = df['TotalGDP_inBil']*1000000000/df['Population']
df.head()

,Country,Year,lifeExp,Population,gdpPercap,TotalGDP,TotalGDP_inBil,country_year,country_short,GDPpercap
0,Afghanistan,1952,28.0,8425333.0,779.445314,6.567086e+09,6.567086,Afghanistan_1952,Afg,779.445314
1,Afghanistan,1957,30.0,9240934.0,820.853030,7.585449e+09,7.585449,Afghanistan_1957,Afg,820.853030
2,Afghanistan,1962,31.0,10267083.0,853.100710,8.758856e+09,8.758856,Afghanistan_1962,Afg,853.100710
3,Afghanistan,1967,34.0,11537966.0,836.197138,9.648014e+09,9.648014,Afghanistan_1967,Afg,836.197138
4,Afghanistan,1972,36.0,13079460.0,739.981106,9.678553e+09,9.678553,Afghanistan_1972,Afg,739.981106

In [53]:
df['Country']

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: Country, Length: 1704, dtype: object

In [54]:
df2 = df[df['Country'] == 'Canada']
df2.head()

,Country,Year,lifeExp,Population,gdpPercap,TotalGDP,TotalGDP_inBil,country_year,country_short,GDPpercap
240,Canada,1952,68.0,14785584.0,11367.16112,1.680701e+11,168.070116,Canada_1952,Can,11367.16112
241,Canada,1957,69.0,17010154.0,12489.95006,2.124560e+11,212.455974,Canada_1957,Can,12489.95006
242,Canada,1962,71.0,18985849.0,13462.48555,2.555967e+11,255.596718,Canada_1962,Can,13462.48555
243,Canada,1967,72.0,20819767.0,16076.58803,3.347108e+11,334.710817,Canada_1967,Can,16076.58803
244,Canada,1972,72.0,22284500.0,18970.57086,4.227497e+11,422.749686,Canada_1972,Can,18970.57086

In [56]:
col = ['Country', 'Population']
df[col]

          Country  Population
0     Afghanistan   8425333.0
1     Afghanistan   9240934.0
2     Afghanistan  10267083.0
3     Afghanistan  11537966.0
4     Afghanistan  13079460.0
...           ...         ...
1699     Zimbabwe   9216418.0
1700     Zimbabwe  10704340.0
1701     Zimbabwe  11404948.0
1702     Zimbabwe  11926563.0
1703     Zimbabwe  12311143.0

[1704 rows x 2 columns]

In [58]:
df[col].mean(numeric_only = True)

Population    2.960121e+07
dtype: float64

In [59]:
df.iloc[0]  #first row

Country                 Afghanistan
Year                           1952
lifeExp                        28.0
Population                8425333.0
gdpPercap                779.445314
TotalGDP          6567086329.952229
TotalGDP_inBil             6.567086
country_year       Afghanistan_1952
country_short                   Afg
GDPpercap                779.445314
Name: 0, dtype: object

In [60]:
df.iloc[0,0]

'Afghanistan'

In [61]:
df.iloc[0:3]

,Country,Year,lifeExp,Population,gdpPercap,TotalGDP,TotalGDP_inBil,country_year,country_short,GDPpercap
0,Afghanistan,1952,28.0,8425333.0,779.445314,6.567086e+09,6.567086,Afghanistan_1952,Afg,779.445314
1,Afghanistan,1957,30.0,9240934.0,820.853030,7.585449e+09,7.585449,Afghanistan_1957,Afg,820.853030
2,Afghanistan,1962,31.0,10267083.0,853.100710,8.758856e+09,8.758856,Afghanistan_1962,Afg,853.100710

In [64]:
df.iloc[:,0]

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: Country, Length: 1704, dtype: object

In [65]:
df.iloc[:,1:3]

      Year  lifeExp
0     1952     28.0
1     1957     30.0
2     1962     31.0
3     1967     34.0
4     1972     36.0
...    ...      ...
1699  1987     62.0
1700  1992     60.0
1701  1997     46.0
1702  2002     39.0
1703  2007     43.0

[1704 rows x 2 columns]

In [68]:
df_large_populaiton = df[df['Population'] > 1000000000]
df_large_populaiton

,Country,Year,lifeExp,Population,gdpPercap,TotalGDP,TotalGDP_inBil,country_year,country_short,GDPpercap
294,China,1982,65.0,1.000281e+09,962.421381,9.626918e+11,962.691821,China_1982,Chi,962.421381
295,China,1987,67.0,1.084035e+09,1378.904018,1.494780e+12,1494.780217,China_1987,Chi,1378.904018
296,China,1992,68.0,1.164970e+09,1655.784158,1.928939e+12,1928.938871,China_1992,Chi,1655.784158
297,China,1997,70.0,1.230075e+09,2289.234136,2.815930e+12,2815.929680,China_1997,Chi,2289.234136
298,China,2002,72.0,1.280400e+09,3119.280896,3.993927e+12,3993.927259,China_2002,Chi,3119.280896
299,China,2007,72.0,1.318683e+09,4959.114854,6.539501e+12,6539.500929,China_2007,Chi,4959.114854
706,India,2002,62.0,1.034173e+09,1746.769454,1.806461e+12,1806.461015,India_2002,Ind,1746.769454
707,India,2007,64.0,1.110396e+09,2452.210407,2.722925e+12,2722.925439,India_2007,Ind,2452.210407

In [70]:
df[(df['Country'] == 'Canada') & (df['Year'] >= 2000)]

,Country,Year,lifeExp,Population,gdpPercap,TotalGDP,TotalGDP_inBil,country_year,country_short,GDPpercap
250,Canada,2002,79.0,31902268.0,33328.96507,1.063270e+12,1063.269576,Canada_2002,Can,33328.96507
251,Canada,2007,80.0,33390141.0,36319.23501,1.212704e+12,1212.704378,Canada_2007,Can,36319.23501

In [74]:
df_Australia = df[(df['Country'] == 'Australia') & (df['Year'] < 2000)]
avg_lifeExp = df_Australia['lifeExp'].mean()
avg_lifeExp

72.9

In [75]:
df[(df['Country'] == 'Australia') & (df['Year'] < 2000)].mean(numeric_only = True)

Year              1.974500e+03
lifeExp           7.290000e+01
Population        1.358108e+07
gdpPercap         1.746440e+04
TotalGDP          2.539540e+11
TotalGDP_inBil    2.539540e+02
GDPpercap         1.746440e+04
dtype: float64