In [1]:
x = 1
type(x)

int

In [2]:
x = 1.0
type(x)

float

In [3]:
x = 1 + 1
type(x)

int

In [4]:
s = 'UBC'
type(s)

str

In [5]:
5 < 7

True

In [6]:
f = 3
s = 7
f < s

True

In [7]:
5.0 == 5

True

In [8]:
5 == '5'

False

In [9]:
list1 = []
list1

[]

In [10]:
list2 = [1, 5.0, 'UBC']
list2

[1, 5.0, 'UBC']

In [11]:
len(list2)

3

In [12]:
len(list1)

0

In [13]:
list2[0]

1

In [14]:
type(list2)

list

In [15]:
type(list2[0])

int

In [16]:
list2[-1]

'UBC'

In [17]:
list2[-2]

5.0

In [19]:
list2[-3]

1

In [21]:
mylist = [9, 9.9, True, 'math']
mylist

[9, 9.9, True, 'math']

In [22]:
type(mylist)

list

In [23]:
type(mylist[2])

bool

In [24]:
mylist.append('stat')
mylist

[9, 9.9, True, 'math', 'stat']

In [25]:
mylist.remove('math')
mylist

[9, 9.9, True, 'stat']

In [26]:
del mylist[0]
mylist

[9.9, True, 'stat']

In [28]:
mylist[2] = 10
mylist

[9.9, True, 10]

In [33]:
# Dictionary - mapping between values
house = {'bedrooms': 3, 
         'bathrooms': 2, 
         'city': ['Kelowna','Vernon'] , 
         'price': 250000}

In [34]:
type(house)

dict

In [35]:
house['city']

['Kelowna', 'Vernon']

In [41]:
info = {'Name': 'Dan',
        'ID': 1234567,
        'Campus': 'Okanagan',
        'Course': ['DATA100', 'ENGL100', 'HIST100', 'CHEM100'] }
info

{'Name': 'Dan',
 'ID': 1234567,
 'Campus': 'Okanagan',
 'Course': ['DATA100', 'ENGL100', 'HIST100', 'CHEM100']}

In [42]:
type(info['ID'])

int

In [43]:
info['Course'][0]

'DATA100'

In [46]:
s = "Python"
for chr in s:
    print(chr + "!")

P!
y!
t!
h!
o!
n!

In [50]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [52]:
n = 3
while n > 0:
    print(n)
    n = n - 1

3
2
1

In [53]:
letter_list = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
import pandas as pd
df = pd.DataFrame(
    {'Letters': letter_list,
     'Numbers': number_list})

df

  Letters  Numbers
0       a        1
1       b        2
2       c        3
3       d        4
4       e        5
5       f        6
6       g        7
7       h        8
8       i        9

In [54]:
df1 = pd.DataFrame({'x' : [1., 2., 3., 4.],
                   'y' : [4., 3., 2., 1.],
                   'z' : [1, 2, 3, 4]})
df1

     x    y  z
0  1.0  4.0  1
1  2.0  3.0  2
2  3.0  2.0  3
3  4.0  1.0  4

In [55]:
url = 'https://raw.githubusercontent.com/jstaf/gapminder/master/gapminder/gapminder.csv'
df = pd.read_csv(url)

In [56]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [58]:
df.tail()

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [60]:
df.head(2)

       country continent  year  lifeExp      pop   gdpPercap
0  Afghanistan      Asia  1952   28.801  8425333  779.445314
1  Afghanistan      Asia  1957   30.332  9240934  820.853030

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [62]:
df.max()

country         Zimbabwe
continent        Oceania
year                2007
lifeExp           82.603
pop           1318683096
gdpPercap    113523.1329
dtype: object

In [63]:
df.info

<bound method DataFrame.info of           country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]>

In [64]:
df.describe()

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165876
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846988
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [66]:
df.country.value_counts()

Afghanistan          12
Pakistan             12
New Zealand          12
Nicaragua            12
Niger                12
                     ..
Eritrea              12
Equatorial Guinea    12
El Salvador          12
Egypt                12
Zimbabwe             12
Name: country, Length: 142, dtype: int64

In [67]:
df.min()

country      Afghanistan
continent         Africa
year                1952
lifeExp           23.599
pop                60011
gdpPercap     241.165876
dtype: object

In [73]:
df.groupby('country').max()

                   continent  year  lifeExp       pop     gdpPercap
country
Afghanistan             Asia  2007   43.828  31889923    978.011439
Albania               Europe  2007   76.423   3600523   5937.029526
Algeria               Africa  2007   72.301  33333216   6223.367465
Angola                Africa  2007   42.731  12420476   5522.776375
Argentina           Americas  2007   75.320  40301927  12779.379640
...                      ...   ...      ...       ...           ...
Vietnam                 Asia  2007   74.249  85262356   2441.576404
West Bank and Gaza      Asia  2007   73.422   4018332   7110.667619
Yemen, Rep.             Asia  2007   62.698  22211743   2280.769906
Zambia                Africa  2007   51.821  11746035   1777.077318
Zimbabwe              Africa  2007   62.351  12311143    799.362176

[142 rows x 5 columns]

In [74]:
df.groupby(['country','year']).max()

                 continent  lifeExp       pop   gdpPercap
country     year
Afghanistan 1952      Asia   28.801   8425333  779.445314
            1957      Asia   30.332   9240934  820.853030
            1962      Asia   31.997  10267083  853.100710
            1967      Asia   34.020  11537966  836.197138
            1972      Asia   36.088  13079460  739.981106
...                    ...      ...       ...         ...
Zimbabwe    1987    Africa   62.351   9216418  706.157306
            1992    Africa   60.377  10704340  693.420786
            1997    Africa   46.809  11404948  792.449960
            2002    Africa   39.989  11926563  672.038623
            2007    Africa   43.487  12311143  469.709298

[1704 rows x 4 columns]

In [81]:
df.groupby(['year']).pop.value_counts()

year  pop
1952  60011         1
      63149         1
      120447        1
      147962        1
      153936        1
                   ..
2007  190010647     1
      223547000     1
      301139947     1
      1110396331    1
      1318683096    1
Name: pop, Length: 1704, dtype: int64

In [82]:
df.groupby(['year']).pop.sum()

year
1952    2406957150
1957    2664404580
1962    2899782974
1967    3217478384
1972    3576977158
1977    3930045807
1982    4289436840
1987    4691477418
1992    5110710260
1997    5515204472
2002    5886977579
2007    6251013179
Name: pop, dtype: int64

In [83]:
df.groupby(['year','continent']).pop.sum()

year  continent
1952  Africa        237640501
      Americas      345152446
      Asia         1395357351
      Europe        418120846
      Oceania        10686006
1957  Africa        264837738
      Americas      386953916
      Asia         1562780599
      Europe        437890351
      Oceania        11941976
1962  Africa        296516865
      Americas      433270254
      Asia         1696357182
      Europe        460355155
      Oceania        13283518
1967  Africa        335289489
      Americas      480746623
      Asia         1905662900
      Europe        481178958
      Oceania        14600414
1972  Africa        379879541
      Americas      529384210
      Asia         2150972248
      Europe        500635059
      Oceania        16106100
1977  Africa        433061021
      Americas      578067699
      Asia         2384513556
      Europe        517164531
      Oceania        17239000
1982  Africa        499348587
      Americas      630290920
      Asia         2610135582
      Europe        531266901
      Oceania        18394850
1987  Africa        574834110
      Americas      682753971
      Asia         2871220762
      Europe        543094160
      Oceania        19574415
1992  Africa        659081517
      Americas      739274104
      Asia         3133292191
      Europe        558142797
      Oceania        20919651
1997  Africa        743832984
      Americas      796900410
      Asia         3383285500
      Europe        568944148
      Oceania        22241430
2002  Africa        833723916
      Americas      849772762
      Asia         3601802203
      Europe        578223869
      Oceania        23454829
2007  Africa        929539692
      Americas      898871184
      Asia         3811953827
      Europe        586098529
      Oceania        24549947
Name: pop, dtype: int64